/*STYLES OF THIS WEBSITE ARE DONE WITH CSS AND BOOTSTRAP*/

/*GENERAL STRUCTURE*/
#layout {
  font-family: 'Roboto';
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap:10px;
  margin:40px;
  font-size:17px;
}

#globalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.titles {
  justify-self: center;
  font-size: 40px;
}

.subtitles {
  justify-self: center;
  font-size: 25px;
}


/* MAIN SCREEN*/
#welcome {
  margin-top: 5%;
}

.options {
  margin-top: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

  /*color of buttons*/

.btn.option{
  border: 2px solid;
  font-size:17px;
  width: 260px;
  padding: 12px 0px;
}
.btn.option:hover{
  font-weight: bold;
}

.btn.option.concepto {
    border-color:blueviolet;
}

.btn.option.concepto:hover {
  background-color:blueviolet;
}

.btn.option.codigo {
    border-color:dodgerblue;
}
.btn.option.codigo:hover {
  background-color:dodgerblue;
}

.btn.option.resolver {
    border-color:limegreen;
}
.btn.option.resolver:hover {
  background-color:limegreen;
}

.btn.option.comprobar {
    border-color:darkorange;
}
.btn.option.comprobar:hover {
  background-color:darkorange;
}

/*TRABAJAR CON CÓDIGO SCREEN*/
#coding{
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.coding-section{
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.comparison{
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-left: 200px;
}

.code{
  margin-left: 10px;
}

.promptsDiv{
  margin-top: 8px;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  gap:30px;
}

.promptText{
  display:flex;
  flex-direction: column;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #1e1e1e;
  margin-left: 10px;
  padding: 10px;
  width: 500px;
  gap:20px;
  max-height: 431px;
  overflow-y:auto;
}

.promptText p {
  font-family: 'Inter', 'Roboto', 'Segoe UI', sans-serif;
  font-size: 15px;
  margin: 0;
}

.resultsDiv {
  margin-top:30px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-left: 200px;
}

.footerSec{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;

}

.btn.prueba {
  width: 110px;
  padding: 8px 0px;
  color:white;
  background-color: dodgerblue;
}

.btn.prueba:hover {
  font-weight: bold;
  background-color: rgb(0, 80, 225);
}

#pistasPrompt {
  display: flex;
  flex-direction: row;
  width: 1200px;
  align-self: center;
  padding:20px 20px;
  justify-content: space-between;

}

.pistaDiv{
  display:flex;
  flex-direction:row;
  gap:10px;
}
.btn.pista{
  width: 70px;
  height: 30px;
  color:white;
  border: 2px solid dodgerblue;
}
.btn.pista:hover{
  background-color: dodgerblue;
}

.btn.pista.hide{
  color:white;
  border: 2px solid white;
}

.btn.pista.hide:hover{
  background-color: gray;
}

.reflection{
  display:flex;
  flex-direction:column;
  gap:15px;
  margin-left: 60px;

}

#app pre[class*="language-"] {
  background: #1e1e1e;
  overflow-y:auto;
  width: 500px;
  align-self:center;
  padding: 10px;
  padding-left: 20px;
  font-size: 14px;
}

#app .copy-to-clipboard {
  font-size:0;
}

#app .copy-to-clipboard-button::after {
  font-size:0;
}


/*RESPONSIVE FOR MOBILE PHONES TOO*/
@media only screen and (max-width: 600px) {
  .comparison{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 5%;
  }

  .code{
    margin-left: 10%;
  }

  .promptsDiv{
    margin-top: 5px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:10px;
  }

  .promptText{
    display:flex;
    flex-direction: column;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #1e1e1e;
    margin-left: 10px;
    padding: 10px;
    width: 95%;
    gap:10px;
    max-height: 300px;
    overflow-y:auto;
  }


}